<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    </head>
<body>
    

    <form action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required><br><br>
    
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br><br>
    
        <label for="username">Username:</label>  <!-- Make sure this is included -->
        <input type="text" id="username" name="username" required><br><br>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
    
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
    
        <button type="submit">Register</button>
    </form>



<div>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
</div>
</body>
</html>
